<header class="siteheader">
    <div class="container">
        {% include logo.html %}

        <button class="main-navigation__toggle" id="togglenav"><span>Toggle Menu</span></button>
        <nav class="main-navigation">
            <ul class="main-navigation__inner">
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/">Home</a></li>
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/how-it-works/">How it works</a></li>
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/pricing/">Pricing</a></li>
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/">Get Started</a></li>
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/about/">About Us</a></li>
            </ul>
        </nav>
    </div>
</header>