<header>
    <div class="container">
        {% include logo.html %}

        <nav class="main-navigation">
            <ul class="main-navigation__inner">
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/">Home</a></li>
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/">How it works</a></li>
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/">Pricing</a></li>
                <li class="main-navigation__item"><a class="main-navigation__item__link" href="/">Get Started</a></li>
            </ul>
        </nav>
    </div>
</header>