<section class="how-it-works">
    <div class="container">
        <h2 class="how-it-works__heading">How it works</h2>
        <div class="how-it-works__inner">
            <div class="how-it-works__reason">
                <span class="icon">{% include icons/icon-select.svg %}</span>
                <p>{{page.howitworks1}}</p>
            </div>
            <div class="how-it-works__reason">
                <span class="icon">{% include icons/icon-design.svg %}</span>
                <p>{{page.howitworks2}}</p>
            </div>
            <div class="how-it-works__reason">
                <span class="icon">{% include icons/icon-build.svg %}</span>
                <p>{{page.howitworks3}}</p>
            </div>
            <div class="how-it-works__reason">
                <span class="icon">{% include icons/icon-done.svg %}</span>
                <p>{{page.howitworks4}}</p>
            </div>
        </div>
    </div>
</section>