<section class="pricing">
    <img class="pricing__background" src="/assets/img/banner-space.jpg" alt="" />
    <div class="container">
        <h2 class="pricing__heading">Pricing</h2>
        <div class="pricing__inner">
            <div class="pricing__item">
                <div class="pricing__item__header">
                    <h3>Simple</h3>
                    <p><label>Great for startups</label><span class="currency">£</span>39<span>/mo</span></p>
                </div>
                <a class="button button-primary" href="#">Select this plan</a>
                <ul>
                    <li>Bespoke Design</li>
                    <li>Single Page Template</li>
                    <li>Free Hosting</li>
                    <li>Ability to add & manage your own content</li>
                    <li>1 email address</li>
                    <li>Mobile Friendly</li>
                    <li>SEO Friendly</li>
                    <li>Free SSL certificate</li>
                </ul>
            </div>
            <div class="pricing__item">
                <div class="pricing__item__header">
                    <h3>Advanced</h3>
                    <p><label>Most Popular</label><span class="currency">£</span>69<span>/mo</span></p>
                </div>
                <a class="button button-primary" href="#">Select this plan</a>
                <ul>
                    <li>Bespoke Design</li>
                    <li>Four Page Templates</li>
                    <li>Free Hosting</li>
                    <li>Ability to add & manage your own content</li>
                    <li>2 email addresses</li>
                    <li>Mobile Friendly</li>
                    <li>SEO Friendly</li>
                    <li>Free SSL certificate</li>
                </ul>
            </div>
            <div class="pricing__item pricing__item--last">
                <div class="pricing__item__header">
                    <h3>Ecommerce</h3>
                    <p><label>Sell products online</label><span class="currency">£</span>149<span>/mo</span></p>
                </div>
                <a class="button button-primary" href="#">Select this plan</a>
                <ul>
                    <li>Bespoke Design</li>
                    <li>Four page templates plus all standard ecommerce pages</li>
                    <li>Ability to add unlimted products or subscriptions</li>
                    <li>Intergration with paypal and stripe</li>
                    <li>Free .co.uk domain name</li>
                    <li>Free Hosting</li>
                    <li>Ability to add & manage your own content</li>
                    <li>3 email addresses</li>
                    <li>Mobile Friendly</li>
                    <li>SEO Friendly</li>
                    <li>Free SSL certificate</li>
                    <li>No hidden setup costs</li>
                </ul>
            </div>
            <div class="pricing__item--extras">
                <h3>Add-ons</h3>
                <ul>
                    <li>Email Address: £5.99/month per user</li>
                    <li>Blog/News Feed: £19.99/month</li>
                </ul>
            </div>
        </div>
    </div>
</section>