<section class="why-choose-us">
    <div class="container">
        <h2 class="why-choose-us__heading">Why Choose Us</h2>
        <div class="why-choose-us__inner">
            <div class="why-choose-us__item">
                <span class="icon">{% include icons/icon-responsive.svg %}</span>
                <h3>Responsive Design</h3>
                <p>You need to cater for customers on all sorts of devices, so we deliver websites that adapt their layouts depending on the screen size, ensuring your users get the best experience possible whatever device they are using.</p>
            </div>
            <div class="why-choose-us__item">
                <span class="icon">{% include icons/icon-design.svg %}</span>
                <h3>Bespoke solutions</h3>
                <p>We won't just set you up with a template that you could buy and host yourself - we'll work with you to design exactly what is right for your business, and then build it from scratch.</p>
            </div>
            <div class="why-choose-us__item">
                <span class="icon">{% include icons/icon-browsers.svg %}</span>
                <h3>Browser Compatibility</h3>
                <p>We’ll ensure your website looks great on all the modern browsers like Chrome, Safari, Firefox and Internet Explorer 11, as well 
                    as the most popular browsers on iOS and Android.</p>
            </div>
            <div class="why-choose-us__item">
                <span class="icon">{% include icons/icon-cms.svg %}</span>
                <h3>Content Management System</h3>
                <p>With every website we build comes with its own login area, so you can manage the content of your website yourself, and keep everything up to date.</p>
            </div>
            <div class="why-choose-us__item">
                <span class="icon">{% include icons/icon-contract.svg %}</span>
                <h3>No contracts</h3>
                <p>There is no contract, so you can cancel your plan at any time, after which you can easily export your content and move it somewhere else if you'd like.</p>
            </div>
        </div>  
        <div class="why-choose-us__cta">
            <a class="button button-primary" href="#">Choose your plan</a>
        </div>
    </div>
</section>